/*.myul {*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*flex-wrap: wrap;*!*/
/*    width: 280px;*/
/*    height: 280px;*/
/*}*/

/*.item {*/
/*    display: block;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 50%;*/
/*    margin: 20px;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    flex-shrink: 0;*/
/*}*/

/*!*.outline {*!*/
/*    position: absolute;*/
/*    top: -20px;*/
/*    left: -20px;*/
/*    right: -20px;*/
/*    bottom: -20px;*/
/*    border: 10px solid white;*/
/*    border-radius: 50%;*/
/*!*}*!*/
.circleCow, .circlePig , .circleHen, .circleFish {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;


}
.circlePig{
    background-image: url("img/circle/pig.png");
}
.circleCow{
    background-image: url("img/circle/cow.png");
}

.circleHen{
    background-image: url("img/circle/hen.png");
}

.circleFish{
    background-image: url("img/circle/fish.png");
}


.circleCow:hover {

    /*position: absolute;*/
    border: 10px solid #009177;
    border-radius: 50%;
    background-image: url('img/circle/Hovcow.png');

}
.circlePig:hover {

    /*position: absolute;*/
    background-image: url('img/circle/Hovpig.png');
    border: 10px solid #e2a023;
    border-radius: 50%;
}
.circleHen:hover {

    background-image: url('img/circle/Hovhen.png');
    /*position: absolute;*/
    border: 10px solid #ff756b;
    border-radius: 50%;
}
.circleFish:hover {

    background-image: url('img/circle/Hovfish.png');
    /*position: absolute;*/
    border: 10px solid #0057c9;
    border-radius: 50%;
}